:root {
  --mantine-font-family: 'Inter', sans-serif;

  --mantine-color-white: #ffffff;

  --mantine-color-black-0: #000000;
  --mantine-color-black-1: #232134;

  --mantine-color-gray-1: #f5f5f6;
  --mantine-color-gray-2: #eaebed;
  --mantine-color-gray-3: #d5d6dc;
  --mantine-color-gray-5: #acadb9;
  --mantine-color-gray-6: #7b7c88;

  --mantine-color-violet-1: #f2ecfa;
  --mantine-color-violet-2: #e5d5fa;
  --mantine-color-violet-3: #d1b4f8;
  --mantine-color-violet-4: #bd93f7;
  --mantine-color-violet-5: #9854f6;
  --mantine-color-violet-6: #541f9d;

  --mantine-spacing-lg: calc(1.5rem * var(--mantine-scale));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--mantine-color-gray-1);
}

a {
  text-decoration: none;
  color: inherit;
}

.mantine-Button-root span {
  height: auto;
  display: flex;
}
